# Keycloak Configuration
# URL para buscar as chaves públicas JWKS do Keycloak
# Formato: http://keycloak:8080/realms/{realm-name}/protocol/openid-connect/certs
KEYCLOAK_JWKS_URL=http://localhost:8080/realms/rewards-api/protocol/openid-connect/certs

# Database Configuration
DATABASE_URL=ecto://postgres:postgres@localhost/campaigns_api_dev

# Phoenix Configuration
SECRET_KEY_BASE=
PHX_HOST=localhost
PHX_SERVER=true
PORT=4000
