services:
  postgres_db:
    image: postgres:18.1
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
    networks:
      - bsystem_network

volumes:
  pgdata:

networks:
  bsystem_network: